@import url(./reset.css);
@import url(./global.css);
@import url(./componentes/navigator.css);
@import url(./componentes/pills.css);
@import url(./componentes/link-btn.css);
@import url(./componentes/galeria.css);

.wrapper {
  display: flex;
  height: 100vh;
  flex-flow: row nowrap;
}

.wrapper video {
  position: fixed;
  width: 100%;
}

.wrapper .coluna-esquerda {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding-right: 50px;
  left: 0;
  top: 0;
  z-index: 1;
}

.wrapper .conteudo-principal {
  height: 100%;
  width: 100%;
  padding-left: 130px;
  position: relative;
}

.wrapper .conteudo-principal__top {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.wrapper .conteudo-principal__bottom {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.wrapper .conteudo-principal .logo img {
  margin-top: 50px;
  margin-left: 0;
  margin-bottom: 30px;
}

.wrapper .conteudo-principal__top .descricao {
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 50%;
  padding: 20px;
  border-radius: 10px;
}

.wrapper .conteudo-principal__top .descricao .descricao__text p {
  color: #fff;
  line-height: 170%;
}

.wrapper .conteudo-principal__top .descricao .pills {
  margin-bottom: 20px;
}

.wrapper .conteudo-principal .links {
  padding: 20px;
  padding-left: 0;
}

.wrapper .conteudo-principal .links ul {
  display: flex;
}

.spiderman-01-01 {
  background-image: url("../images/spiderman-tobey/movie-01/background.jpg");
  background-size: cover;
}
.spiderman-02-01 {
  background-image: url("../images/spiderman-andrew/movie-01/background.jpg");
  background-size: cover;
}
.spiderman-02-02 {
  background-image: url("../images/spiderman-andrew/movie-02/background.jpg"); 
  /* Mudar essa imagem */
  background-size: cover;
}
.spiderman-03-01 {
  background-image: url("../images/spiderman-tom/movie-01/background.jpg");
  background-size: cover;
}
.spiderman-03-02 {
  background-image: url("../images/spiderman-tom/movie-02/background.jpg");
  background-size: cover;
}
.spiderman-03-03 {
  background-image: url("../images/spiderman-tom/movie-03/background.jpg");
  background-size: cover;
}
